body {
    background-color: #E6E6FA;
}
main {
    background-color: #FFFFF0;
}
h2 {
    color: #2F4F4F;
}
#bo {
    background-color: #FFE4C4;
}
#la {
    background-color: #5F9EA0;
}
#ha {
    background-color: #C0C0C0;
}